html, body {
    height: 100%;
}

#leftBorder {
    background-color: rgb(0, 162, 232);
    float: left;
    width: 20%;
    height: 100%;
}

#rightBorder {
    background-color: rgb(0, 162, 232);
    float: right;
    width: 20%;
    height: 100%;
}

#center {
    background-color: rgb(153, 217, 234);
    height: 100%;
}

#heading {
    padding-top: 50%;
}

h1 {
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
    margin:0;
}

#img {
    text-align: center;
}

#list {
    margin: 0 45%;
}

ul {
    background-color: rgb(0, 162, 232);
    font-family: sans-serif;
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding: 0;
    border-width: thick;
    border-style: solid;
    border-color: rgb(63, 72, 204);
}

li:hover {
    background-color: rgb(63, 72, 204);
}

a {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
}

